<table class="table table-secondary shadow">
  <thead>
    <tr>
      <th scope="col" *ngFor="let headerItem of headerRow" (click)="onSort(headerItem)">
        <div class="d-flex">
          {{ headerItem.displayName }}

          <!-- SORT -->
          <div class="d-flex flex-column ms-2" *ngIf="headerItem.hasSort">
            <i
              class="bi bi-caret-up-fill"
              [class.sort-header-active]="(sortDirection$ | async) === 'asc' && headerItem.key === (sortKey$ | async)"
            >
            </i>
            <i
              class="bi bi-caret-down-fill"
              [class.sort-header-active]="(sortDirection$ | async) === 'desc' && headerItem.key === (sortKey$ | async)"
            >
            </i>
          </div>
          <!-- SORT -->
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of tableData$ | async">
      <td>{{ row.id }}</td>
      <td>{{ row.name }}</td>
      <td>{{ row.username }}</td>
      <td>{{ row.city }}</td>
    </tr>
  </tbody>
</table>
